
<body class ="top">
  <h1 class ="topheader">ようこそ　Bookers　へ！</h1>
  <p class ="toptext">Bookersでは、さまざまな書籍に関するあなたの意見や</p>
  <p class ="toptext">印象を共有し交換することができます</p>
  <p class ="toptext"><%= link_to "start","/books" %></p>
</body>

